<!DOCTYPE html>
<html>
<head>
  <title>Libapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= top_menu %>
<% flash.each do |key, val| %>
  <%= content_tag(:div, val, class: "#{key}" ) %>
<% end %>
<%= yield %>

</body>
</html>
